<div class="container">
  <h1>Multi-Line MatSelect Sample</h1>
  <h4>{{title}}</h4>
  <mat-form-field style="width: 320px;" appearance="fill">
    <mat-label>Storage</mat-label>
    <mat-select 
      panelClass="storage-selector"
      [formControl]="selectedStorage">
      <mat-select-trigger>{{selectedStorage.value?.name}}</mat-select-trigger>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let storage of storageList" [value]="storage">
        <mat-icon>storage</mat-icon>
        <b>{{storage.name}}</b><br>
        <small class="drive-path">{{storage.path}}</small>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>